/* --------- Global style */

body {
    background-color: aliceblue;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* --------- Heading */

h1 {
    text-align: center;
    font-size: 2.5rem;
    border-style: double;
}


/* --------- Game layout */

.game-area {
    /* border: #445361;
    border-style: double;
    width: 75%; */
    /* background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%; */
}

.scores {
    color: blue;
    font-weight: bold;
}


/* .scores {
    display: inline-block;
    padding: 25px;
} */

/* --------- Buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

#image {
  /* height: 75%;
  width: 100%; */
}

.btn:focus {
    outline: none;
}


